/*
 *https://codepen.io/markmurray/pen/JsAhx
 *https://codepen.io/anon/pen/yGZzKQ
 *
 *
 */
@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding-top: 0;
  margin: 0;
}

/* --- nav bar --- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a68af;
  border-bottom: 4px solid rgba(0,0,0,0.1);
}

li {
  float: left;
}

li a {
  display: block;
  font-family: 'Merriweather', sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #327acd;
}

.ghost a{
  width:80px;
  margin-left:20px;
}
.logo {
  position:absolute;
  top: 0;
  left: 20px;
  width: 70px;
  height:auto;
}
@media (max-width: 420px) {
  .ghost a{
    display:none;
  }
  .logo {
    display:none;
  }
}


/* --- registration form --- */
h1,h2,h3,p {
  text-align: center;
  color: #808080;
  text-shadow: 1px 1px 0 white;
}
h2,h3,p{
  text-align:left;
}

.form-wrapper{
  padding: 1em;
  margin: 8px;
  margin-top:0;
}
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  color: #404040;
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #2a68af !important;
  -webkit-box-shadow: 0 0px 2px #2a68af !important;
  box-shadow: 0 0px 2px #2a68af !important;
}
form input::placeholder, form textarea::placeholder {
  color: #767676;
  opacity: 1;
}
form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #767676;
  opacity: 1;
}
form input::-moz-placeholder { /* Firefox 19+ */
  color: #767676;
  opacity: 1;
}
form input:-ms-input-placeholder { /* IE 10+ */
  color: #767676;
  opacity: 1;
}
form input:-moz-placeholder { /* Firefox 18- */
  color: #767676;
  opacity: 1;
}
form .input-submit {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  color: white;
  background: #2a68af;
  cursor: pointer;
}
form .input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.messages{
  text-align: left;
  color: #e62e00;
  background-color: #ffad99;
  border: 8px solid #ffad99;
  border-left: 1em solid #ffad99;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 0 0 #000;
  display:none;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* --- footer --- */
.footer{
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  border-top: 2px solid rgba(0,0,0,0.1);
  margin:0;
  margin-top: 40px;
  padding:10px;
  text-align: center;
  -moz-box-shadow:  0 -2px 0 white;
  -webkit-box-shadow: 0 -2px 0 white;
  box-shadow: 0 -2px 0 white;
}
.footer p{
  text-align: center;
}
.footer a{
  color: #2a68af;
}

