@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding-top: 0;
  margin: 0;
}

/* --- nav bar --- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a68af;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: 'Merriweather', sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #327acd;
}

.hidden{
  display:none;
}

.page-wrapper{
  padding: 1em;
  margin: 8px;
  margin-top:0;
}

h1,h2 {
  text-align: center;
  color: #808080;
  text-shadow: 1px 1px 0 white;
}
h2{
  text-align:left;
}

/* --- user table --- */
.user-table-wrapper p{
  text-align: left;
  color: #808080;
}
.user-table-wrapper table{
  border-collapse: collapse;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: white;
  color: #404040;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #2a68af;
}
table button{
  color: #2a68af;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
}
.container {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

